// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
$primary: #f5f0d7;
$secondary: #598136;
$dark: #092330;
$font-family-sans-serif: 'Montserrat', sans-serif !default;
$font-family-serif: 'Hind Madurai', serif !default;

// Import Bootstrap source files
@import '../node_modules/bootstrap/scss/bootstrap';

// Then add additional custom code here
