@import url('/node_modules/bootstrap-icons/font/bootstrap-icons.css');
@import 'custom';

// Base
html {
	position: relative;
	min-height: 100%;
}
body {
	background-image: linear-gradient(rgba(245, 240, 215, 0.7), rgba(245, 240, 215, 0.7)),
		url('../img/white-paper-texture.jpg');
}
main {
	padding-bottom: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-family-sans-serif;
}

a {
	font-family: $font-family-serif;
	font-size: 1.125rem;
}
p {
	font-family: $font-family-serif;
	font-size: 1.125rem;
	margin-bottom: 2rem;
}

@media screen and (max-width: 768px) {
	p {
		font-size: 1rem;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-size: 1rem;
	}
}

//Components
.btn {
	font-weight: bolder;
	&__primary {
		background-color: $primary;
		color: $secondary;
	}
	&__secondary {
		background-color: $secondary;
		color: $primary;
	}
}
.carousel-control-prev-icon {
	background-image: url('../img/carousel-control-prev-icon.png');
}
.carousel-control-next-icon {
	background-image: url('../img/carousel-control-next-icon.png');
}
.service--info {
	background-image: linear-gradient(rgba(189, 196, 171, 0.7), rgba(189, 196, 171, 0.7)),
		url('../img/white-paper-texture.jpg');
}
//Layout-Header
nav.navbar {
	background-image: linear-gradient(74deg, rgba(245, 240, 215, 0.8) 0%, rgba(143, 140, 125, 0.8) 100%),
		url(../img/Elephant-background.png);
	background-size: cover;
}

//page-home
.hero {
	&__bigTitle {
		background-image: linear-gradient(rgba(189, 196, 171, 0.7), rgba(189, 196, 171, 0.7)),
			url('../img/white-paper-texture.jpg');
	}
	&__services {
		background-image: linear-gradient(rgba(189, 196, 171, 0.7), rgba(189, 196, 171, 0.7)),
			url('../img/white-paper-texture.jpg');
	}
}
.card-body {
	background-color: $info;
	& .card-title {
		font-weight: bold;
		color: $secondary;
	}
	& .card-text {
		font-weight: bold;
	}
	& .btn {
		background-color: $primary;
		color: $secondary;
	}
}
@media screen and (max-width: 400px) {
	.hero__bigTitle-content,
	.hero__services-content,
	.service__text {
		order: 2;
	}
	.hero__bigTitle-img,
	.hero__services-img,
	.service__carousel {
		order: -1;
	}
}
