@import url('/node_modules/bootstrap-icons/font/bootstrap-icons.css');
@import 'custom';

html {
	position: relative;
	min-height: 100%;
}

body {
	background-color: $primary;
}
main {
	padding-bottom: 150px;
}

nav.navbar {
	background-image: linear-gradient(74deg, rgba(245, 240, 215, 0.8) 0%, rgba(143, 140, 125, 0.8) 100%),
		url(../img/Elephant-background.png);
	background-size: cover;
}

footer.footer {
	position: absolute;
	width: 100%;
	padding: 15px;
	bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-family-sans-serif;
}

a {
	font-family: $font-family-serif;
	font-size: 18px;
}
p {
	font-family: $font-family-serif;
	font-size: 18px;
	margin-bottom: 2rem;
}
.hero {
	&__bigTitle {
		background-color: $card;
	}
	&__services {
		background-color: $card;
	}
}

.btn {
	font-weight: bold;
}

@media screen and (max-width: 400px) {
	.hero__bigTitle-content,
	.hero__services-content {
		order: 2;
	}
	.hero__bigTitle-img,
	.hero__services-img {
		order: -1;
	}
}

@media screen and (max-width: 768px) {
	p {
		font-size: 16px;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-size: 20px;
	}
}
